<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441637616905-5u775s1bhb0k34jro8rd9iiecufn74su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441637616905-5u775s1bhb0k34jro8rd9iiecufn74su</string>
	<key>API_KEY</key>
	<string>AIzaSyAa50TI1URRy-Uj2EriI1-kaRWfME-Fn7g</string>
	<key>GCM_SENDER_ID</key>
	<string>441637616905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gojdu.app.gojdu</string>
	<key>PROJECT_ID</key>
	<string>gojdu-65243</string>
	<key>STORAGE_BUCKET</key>
	<string>gojdu-65243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441637616905:ios:386103d07a27e181d3a7d8</string>
</dict>
</plist>